{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <style>
        .errorlist{
            font-family: 'Kalam', cursive;
            list-style-type: none ;
            font-size: large;
        }
    </style>
</head>
<header class="mb-auto">
    <div>
        <h2 class=" float-md-start mb-0 your-style" >SHORTLY</h2>
        <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Recent</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
        </nav>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="text-center ">
            <main class="px-3">
                <h1 class="your-style"><img data-v-57d49d66="" src="{% static '/images/url.svg' %}" alt="">
                    Your Long URL</h1>

                <div class="col-sm-offset-4">
                    <form method="POST" action="." >{% csrf_token %}
                        <!-- <input name="url" type="text" placeholder="shorten your URL"/> -->
                        {{form.as_p}}
                        <input class="btn btn-lg btn-light fw-bold border-white bg-white" type="submit" value="SHORTEN"/>
                    </form>
                </div>
                <br>
                <p class="lead">By clicking SHORTEN, you are agreeing to Shortly's Terms of Service, Privacy Policy, and Acceptable Use Policy
                </p>
    
              </main>
        </div>
    </div>
</div>

{% endblock content %}
