{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <style>

        .btn-outline-light{
            font-weight: bold;
        }
        body{background: #B9B4B4}.card{border: none;height: 100%}.copy-button{height: 25px;display: flex;justify-content: center;align-items: center;position: relative}.tip{background-color: #263646;padding: 0 14px;line-height: 27px;position: absolute;border-radius: 4px;z-index: 100;color: #fff;font-size: 12px;animation-name: tip;animation-duration: .6s;animation-fill-mode: both}.tip:before{content: "";background-color: #263646;height: 10px;width: 10px;display: block;position: absolute;transform: rotate(45deg);top: -4px;left: 17px}#copied_tip{animation-name: come_and_leave;animation-duration: 1s;animation-fill-mode: both;bottom: -35px;left:2px}.text-line{font-size: 14px}
    </style>
</head>

<header class="mb-auto">
    <div>
        <h2 class=" float-md-start mb-0 your-style" >SHORTLY</h2>
        <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 "  href="/">Home</a>
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Recent</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
        </nav>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="text-center ">

            <main class="px-3">
                <h1 class="your-style"><img data-v-57d49d66="" src="{% static '/images/url.svg' %}" alt="">
                    Your Long URL</h1>
                    <br>

                <div class="col-sm-offset-4">
                    <form method="POST" action="." class="form-control">{% csrf_token %}
                        <input type="text"class="form-control" value="{{object.url}}">
                    </form>
                </div>
                <br>

                <h1 class="your-style"><img data-v-57d49d66="" src="{% static '/images/magic-wand.svg' %}" alt="">
                    Short URL</h1>
                <br>
                <div class="col-sm-offset-4">
                    <div class="input-group">
                        <input id ="clipboard" type="text" class="form-control" value="{{object.get_short_url}}">
                        <button class="btn btn-outline-light" type="button" onclick="copyText()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Copy to Clipboard">
                            <i class="bi bi-clipboard"></i>
                            Copy
                        </button>
                    </div>
                </div>
                <br>
                <p class="lead">By clicking SHORTEN, you are agreeing to Shortly's Terms of Service, Privacy Policy, and Acceptable Use Policy
                </p>
    
            </main>
        </div>
    </div>
</div>
<script>
    function copyText() {
        var inputField = document.getElementById("clipboard");
        inputField.select();
        document.execCommand("copy");
        var tooltip = document.querySelector('[data-bs-toggle="tooltip"]');
        tooltip.setAttribute('data-bs-original-title', 'Copied!');
        tooltip.setAttribute('title', 'Copied!');
        tooltip.tooltip();
    }
</script>

{% endblock content %}
